<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8"><title>Top Restaurant</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Restaurant</title>
</head>
<body>
    {% include 'includes/header.html' %}

    <main>

        <div>
            <h3>Search location: {{city}}</h3>
            <h3>Search term: {{search_term or 'None Specified'}}</h3>
{#            <p>Data: {{ restaurant }}</p>#}
        </div>

        <div class="box">
            <h2>Top Restaurant:</h2>
            <h3>{{ restaurant.get('name') }}</h3>
            <img class='image' src={{restaurant.get('image_url') }} />
            <p>Address: {{ restaurant.get('display_address') }}</p>
            <p>Rating: {{ restaurant.get('rating') }}</p>
        </div>

        {% for restaurant in restaurants[1:]%}
           <div class="box">
                <h2>Restaurant</h2>
                <h3>{{ restaurant.get('name') }}</h3>
                <img class="image" src={{restaurant.get('image_url') }} />
                <p>Address: {{ restaurant.get('display_address') }}</p>
                <p>Rating: {{ restaurant.get('rating') }}</p>
            </div>
        {% endfor %}


    </main>
</body>
</html>

